<html>

<head></head>

<body>
    <input type="text" id="message" />
    <button type="button" id="sendMessage">send</button>
    <ul id="messages">
        <li>Wellcome: {{ username }}</li>
    </ul>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function () {
            
        });
        socket.on('message', function (msg) {
            $('#messages').append('<li>' + msg.sender + ': '  + msg.data + '</li>');
        });

        $('#sendMessage').on('click', function(event){
            event.preventDefault;
            socket.emit('message', {
                room: '',
                data: $('#message').val()
            });
            $('#message').val(' ');
        })
    </script>
</body>

</html>