<html>

<head></head>

<body>
    <h5>Welcome: {{ current_user.email }}</h5>
    <a href="/logout">logout</a>
    <hr>

    <input type="text" id="message" />
    <button type="button" id="sendMessage">send</button>    

    <ul id="messages">
        {% if messages | length > 0  %}
            {% for message in messages %}
                <li> 
                    <strong>{{message.user.email}}: </strong> {{ message.data }}<br/>
                    <small> Sent at {{message.posted_at }} </small>
                </li>
            {% endfor %}
        {% endif %}
    </ul>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function () {
            
        });
        socket.on('message', function (msg) {
            $('#messages').append('<li><strong>' + msg.sender + ':</strong> '  + msg.data + '</li><small>Seconds ago</small>');
        });

        function sendMessage(){
            if($('#message').val() !== '') {
                socket.emit('message', {
                    room: '',
                    data: $('#message').val()
                });
                $('#message').val(' ');
            } else{
                alert('Empty Message');
            }
        }

        $('#sendMessage').on('click', function(event){
            event.preventDefault();
            sendMessage();
        });
    </script>
</body>

</html>