<html>
    <head>


    </head>
    <body>
        {% if not current_user.is_authenticated %}
            <form method="POST" action="/">
                {{ form.csrf_token }}
                <label for="email">Email</label>
                {{ form.email }}<br/>
                <label for="password">Password</label>
                {{ form.password }}<br/>
                <input type="submit" value="Signin">
            </form>
        {% else %}
            Your already Signin
            <a href="/chat">Go to Chat</a>
            or <a href="/logout">logout</a>
        {% endif %}
    </body>
</html>